/** Small Screen Size */
body {
   min-width: 375px;
   text-align: center;
}

.navbar {
   width: 100%;
   padding: 0;
   position: fixed;
   top: 0;
}

.nav-link {
   border-radius: 5px;
   transition: all 0.3s;
}

.nav-link:hover {
   background-color: var(--bs-success);
   color: var(--bs-light);
}

#wrapper {
   width: 90vw;
   margin: auto;
   padding: 0;
}

#divider {
   position: fixed;
   bottom: 20px;
   padding-left: 0;
   padding-right: 0;
}

.row {
   width: 90vw;
   margin: auto;
}

.col {
   display: block;
   width: 100%;
}

.section {
   margin-top: 15vh;
}

#overview {
   display: block;
   height: 2.5vh;    /** Place holder for better styling */
}

.title {
   display: inline-block;
   margin: 50px 0;
}

.section p {
   width: 90%;
}

img {
   width: 100%;
   display: inline-block;
   overflow: auto;
   padding-bottom: 2vh;
}

#square-img {
   width: 80%;
   padding: 8vh auto 0 auto;
}

.d-flex {
   justify-content: center;
}

.social-media-icon {
   color: var(--bs-success);
   transition: all 0.3s;
}

.social-media-icon:hover {
   transform: scale(1.25);
}

hr + a i {    /** scroll down double-arrows */
   color: var(--bs-secondary);
   transform: scaleX(1.4);
}


/** Medium Screen Size */
@media screen and (min-width: 768px) {
   .navbar {
      padding-left: 5vw !important;
      padding-right: 5vw !important;
   }
}


/** Large Screen Size & Up */
@media screen and (min-width: 992px) {
   body {
      text-align: left;
   }

   .navbar {
      padding-left: 10vw !important;
      padding-right: 10vw !important;
   }

   #wrapper {
      width: 80vw;
   }

   .row {
      width: 100%;
   }

   .section {
      max-width: 1280px;
      height: 70vh;
      align-content: center;
   }

   img {
      position: relative;
      align-self: baseline;
      bottom: -25%;
   }

   #square-img {
      right: -15%;
   }

   .d-flex {
      justify-content: flex-start;
   }
}