/** Small Screen Size */
body {
   min-width: 375px;
   text-align: center;
}

.navbar {
   width: 100%;
   padding: 0;
   position: fixed;
   top: 0;
}

#wrapper {
   width: 90vw;
   margin: auto;
   padding: 0;
}

#divider {
   position: fixed;
   bottom: 20px;
   padding-left: 0;
   padding-right: 0;
}

.row {
   width: 90vw;
   margin: auto;
}

.col {
   display: block;
   width: 100%;
}

.section {
   margin-top: 15vh;
}

.title {
   display: inline-block;
   margin: 50px 0;
}

.section p {
   width: 90%;
}

img {
   width: 100%;
   display: inline-block;
   overflow: auto;
   padding-top: 8vh 0 2vh 0;
}

#square-img {
   width: 80%;
   padding: 8vh auto 0 auto;
}

/** Medium Screen Size */
@media screen and (min-width: 768px) {
   .navbar {
      padding-left: 5vw !important;
      padding-right: 5vw !important;
   }
}

/** Large Screen Size & Up */
@media screen and (min-width: 992px) {
   body {
      text-align: left;
   }

   .navbar {
      padding-left: 10vw !important;
      padding-right: 10vw !important;
   }

   #wrapper {
      width: 80vw;
   }

   .row {
      width: 100%;
   }

   .section {
      max-width: 1280px;
      height: 70vh;
      align-content: center;
   }

   img {
      position: relative;
      align-self: baseline;
      bottom: -25%;
   }

   #square-img {
      right: -15%;
   }
}